@charset "utf-8";
/* CSS Document */

@import url("cssreset.min.css");
@import url("cssbase.min.css");


/*
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	SITE-WIDE STYLES
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/

#pw {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
}
#pw strong {
	font-weight: 700;
	color: #72A492;
}

#pw h1,
#pw h2,
#pw h3,
#pw h4,
#pw h5,
#pw h6,
#pw p,
#pw ul,
#pw ol {
	margin: 0 0 22px;
	padding: 0;
}

#pw h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	line-height: 66px;
	font-weight: 400;
	color: #72A492;
}

#pw h2 {
	color: #72A492;
}


#pw a {
	color: #72A492;
}


#pw .wrapper {
	position: relative;
}
#pw .wrapper:before,
#pw .wrapper:after {
    content: " ";
    display: table;
}
#pw .wrapper:after {
    clear: both;
}

#pw .ornament_top {
    background-image: url(../img/hr.png);
	background-position: center top;
	background-repeat: no-repeat;
	margin-top: 22px;
	padding-top: 37px;
}
#pw .ornament_bottom {
    background-image: url(../img/hr.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	margin-bottom: 22px;
	padding-bottom: 37px;
}

#pw .drop_shadow {
	-webkit-box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.2);
	padding: 22px;
}

#pw .small {
	font-size: 14px;
	line-height: 17px;
	color: #72A492;
}

#pw .testimonial {
	background-color: #F3F3EB;
	color: #72A492;
	font-family: 'Zeyada', serif;
	font-size: 32px;
	line-height: 34px;
	font-weight: 700;
	padding: 22px 44px 1px;
}
#pw .testimonial p {
	margin-bottom: 16px;
}

#pw table {
	width: 100%;
}
#pw table td{
	border: 1px solid #fff;
	background-color: #F3F3EB;
}
#pw thead td{
	font-weight: bold;
	color: #777;
}

/* FORMS */
#pw input[type=text],
#pw input[type=password],
#pw input[type=email],
#pw input[type=tel],
#pw textarea {
	width: 70%;
}
#pw input[type="tel"] {
	width: 40%;
}
#pw input[type="submit"],
#pw input.hasDatepicker {
	width: auto;
}

#pw .btn.btn-primary {
    background-color: #333;
	border: none;
	padding: 8px 12px;
	color: #fff;
    font-weight: bold;
    border-radius: 4px;
    margin: 20px 0 0;
}


/*
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	HEADER SECTION
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/


#pw #divHeaderImage .img {
	background-position: center center;
	background-size: cover;
	position: relative;
	height: 455px;
	top: -100px;
}
#pw #divHeaderImage {
	height: 355px;
	overflow: hidden;
	border-bottom: 1px solid #9DBFB4;
	clear: both;
}
#pw #divHeaderImage.tallHeader .img {
	height: 560px;
}
#pw #divHeaderImage.tallHeader {
	height: 460px;
}


#pw #divHeader {
	background-color: #72A492;
	border-bottom: 1px solid #9DBFB4;
	padding: 25px 50px;
}

#pw #divSiteTitle {
	width: 500px;
	float: left;
}


#pw #divSiteNav ul {
	list-style-type: none;
	color: #fff;
	float: left;
	font-size: 17px;
	line-height: 17px;
	margin: 19px 0 0 -10px;
	padding: 0;
}
#pw #divSiteNav ul li {
	display: inline;
	padding: 0 15px;
}
#pw #divSiteNav ul li a {
	text-decoration: none;
	color: #fff;

}
#pw #divSiteNav ul li a[href*="#ext"]{
	/* Internal links */
	color: #234739
}




/*
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	CONTENT SECTION
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/



#pw #divContent {
	background-color: #fff;
	width: 1140px;
	margin: 40px auto;
}

#pw.page-template-full #divSidebar {
	float: right;
}
#pw.page-template-full #divMain,
#pw.page-template-full #divLinks1,
#pw.page-template-full #divLinks2 {
	float: left;
}
#pw.page-template-full #divLinks1 {
	clear: left;
}

#pw.page-template-left-sidebar #divMain,
#pw.page-template-left-sidebar #divLinks1,
#pw.page-template-left-sidebar #divLinks2 {
	float: right;
}
#pw.page-template-left-sidebar #divLinks1 {
	clear: right;
}
#pw.page-template-left-sidebar #divSidebar {
	float: left;
}

#pw .col_x1 {
	width: 340px;
	margin: 0 20px;
}
#pw .col_x2 {
	width: 720px;
	margin: 0 20px;
}
#pw .col_x3 {
	width: 1100px;
	margin: 0 20px;
}


/*
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	SUBNAV
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/


#pw #divSidebar ul.nav {
	list-style-type: none;
	font-size: 21px;
	margin: 0;
	padding: 0;
}
#pw #divSidebar ul.nav li {
	display: none;
}
#pw #divSidebar ul.nav li.nav-path-selected,
#pw #divSidebar ul.nav li.nav-path-selected li {
	display: list-item;
}
#pw #divSidebar ul.nav li.nav-path-selected {
	font-weight: bold;
}
#pw #divSidebar ul.nav li.nav-path-selected li {
	font-weight: normal;
}


#pw #divSidebar ul.nav li {
	list-style-type: none;
	margin: 0px 0;
}
#pw #divSidebar ul.nav li.nav-selected {

}
#pw #divSidebar ul.nav li a {
	text-decoration: none;
	color: #777;
	padding: 8px 20px;
	display: block;
}
#pw #divSidebar ul.nav li a.nav-selected {
	background-color: #9DBFB4;
	color: #fff;
}
#pw #divSidebar .inpage_link {

}
#pw #divSidebar .inpage_link a {
	text-decoration: none;
	color: #777;
	padding: 8px 20px;
	display: block;
}



/*
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	FOOTER SECTION
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/


#pw #divFooter {
	width: 1100px;
	margin: 40px auto;
}
#pw #divLegals {
	color: #999;
	font-size: 14px;
	line-height: 17px;
	margin: 40px 0;
}
#pw #divLegals a {
	color: #999;
	margin: 0 10px;
}


/*
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	MAILCHIMP POPUP
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/

#pw .popup {
	position: fixed;
	height: 180px;
	bottom: -180px;
	left: 10%;
	background-color: #72A492;
	padding: 50px;
	color: #fff;

}
#pw .popup h2 {
	color: #fff;
}
#pw .popup .indicates-required {
	font-size: 80%;
}
#pw .popup .form-group input {
    width: 100%;
    box-sizing: border-box;
}
